@-webkit-keyframes custom-bounce {
    0% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-in;
    }

    16% {
        top: 45%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    32% {
        top: 0%;
        animation-timing-function: ease-in;
    }

    48% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    62% {
        top: 26.31%;
        animation-timing-function: ease-in;
    }

    78% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    90% {
        top: 39.5%;
        animation-timing-function: ease-in;
    }

    100% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }
}

@-moz-keyframes custom-bounce {
    0% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-in;
    }

    16% {
        top: 45%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    32% {
        top: 0%;
        animation-timing-function: ease-in;
    }

    48% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    62% {
        top: 26.31%;
        animation-timing-function: ease-in;
    }

    78% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    90% {
        top: 39.5%;
        animation-timing-function: ease-in;
    }

    100% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }
}

@-ms-keyframes custom-bounce {
    0% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-in;
    }

    16% {
        top: 45%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    32% {
        top: 0%;
        animation-timing-function: ease-in;
    }

    48% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    62% {
        top: 26.31%;
        animation-timing-function: ease-in;
    }

    78% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    90% {
        top: 39.5%;
        animation-timing-function: ease-in;
    }

    100% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }
}

@keyframes custom-bounce {
    0% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-in;
    }

    16% {
        top: 45%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    32% {
        top: 0%;
        animation-timing-function: ease-in;
    }

    48% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    62% {
        top: 26.31%;
        animation-timing-function: ease-in;
    }

    78% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    90% {
        top: 39.5%;
        animation-timing-function: ease-in;
    }

    100% {
        top: 50%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }
}


@keyframes reverse-custom-bounce {
    0% {
        top: 0%;
        transform: translate(0,-50%);
        animation-timing-function: ease-in;
    }

    16% {
        top: 5%;
        animation-timing-function: ease-out;
    }

    32% {
        top: 50%;
        animation-timing-function: ease-in;
    }

    48% {
        top: 0%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    62% {
        top: 26.31%;
        animation-timing-function: ease-in;
    }

    78% {
        top: 0%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }

    90% {
        top: 10%;
        animation-timing-function: ease-in;
    }

    100% {
        top: 0%;
        transform: translate(0,-50%);
        animation-timing-function: ease-out;
    }
}

@keyframes zoom-in-out {
    0% {
        top: 50%;
        transform: scale(0) translate(0,-50%);
    }

    50% {
        top: 50%;
        transform: scale(1) translate(0,-50%);
    }

    100% {
        top: 50%;
        transform: scale(0) translate(0,-50%);
    }
}
